// Global
// ==================================================================== 
$color-page-background: #272727;
$color-black: #000;
$color-white: #FFF;

$color-gray: #707070;
$color-gray-light: #f2f1f1;
$color-gray-dark: #272727;

$color-red: #ba3638;
$color-red-light: #e94649;
$color-red-dark: #7a2324;